
html,body{
    width: 100%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: fit-content;
}
#current-menu-element{
    color:rgb(221, 95, 95);
}
header>a>.one-elem:hover{
    color:rgb(221, 95, 95);
    transition: all .5s ease;
}
#main{
    display: flex;
    flex-direction: column;
    height:fit-content;
    padding-bottom: 5em;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: x-large;
    align-items: center;
    width: 100%;
    height:6em;
    color:white;
    background-color: rgb(13,69,8);
}
#maomi-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#i-love-it{
    letter-spacing: 0.2em;
    font-size: 0.4em;
    text-align: center;
}
#i-love-it img{
    width:1em;
    margin-top: 0.2em;
    margin-right: 0.2em;
}
#maomi-text+a{
    height: 30%;
}
a>#order-online{
    height: 100%;
    width: 15vw;
    display: flex;
    margin-left: 4em;
    justify-content: center;
    border: 0.2em solid white;
    align-items: center;
    border-radius: 5em;
}
a>#order-online:hover{
    background-color: white;
    transition: all .5s ease;
    cursor: pointer;
    color:rgb(190, 65, 65);
    font-weight: bold;
    font-size: 0.9em;
}
header>a>img{
    width:2em;
}
footer>#footer-socials>a>img{
    width:4em;
}
nav{
    display: flex;
    position: sticky;
    z-index: 2;
    top:0;
    margin-top: 3em;
    justify-content: space-evenly;
    align-self: center;
    width: 100vw;
}
a{
    text-decoration: none;
    color: white;
}
nav>a{
    width:9em;
    padding-left: 1em;
    padding-right: 1em;
    border:0.1em solid green;
    font-weight: bold;
    font-size: 1.1em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    color: green;
    background-color: white;
    border-radius: 1em;
}
nav>a:hover{
    background-color: green;
    color: white;
    transition: all .5s ease;
}
#ice-bubble,#milk-cocktails,#milk-teas{
    width:100vw;
    height: fit-content;
    padding-bottom: 2em;
    display: flex;
    padding-left: 2em;
}
#ice-bubble{
    justify-content: center;
}
#milk-cocktails{
    justify-content: space-evenly;
    align-items: center;
}
#milk-teas{
    justify-content: flex-start;
    margin-left: 8em;
}
#milk-teas >.one-drink>img{
    height:20em;
}
.one-drink{
    margin-right: 4em;
    width: 15%;
    height:fit-content;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}
#milk-teas>.one-drink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.one-drink img{
    height: 16em;
}
.one-drink img:hover{
    transform: scale(1.2);
    margin-bottom: 2em;
}
#milk-teas >.one-drink>img:hover{
    margin-bottom: 3em;
}
h1{
    margin: 0 auto;
    margin-bottom: 1.5em;
    margin-top: 1em;
    width: fit-content;
}
.one-drink>h2{
    text-align: center;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
}
.tea-buttons{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: fit-content;
    width:40vw;
}
.one-button{
    display: flex;
    margin-right: 7em;
    margin-bottom: 1.3em;
    flex-direction: column;
    padding: 0.7em;
    background-color: gainsboro;
    border-radius: 1em;
    border: 0.1em solid;
}
.one-button:hover{
    transform: scale(1.2);
    color:white;
    background-color: green;
    transition: all .5s ease
}
hr{
    color: #000;
    width: 100%;
}
#other-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-left: 2em;
}
#other-buttons>.tea-buttons{
    display: block;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
}
#other-buttons>.tea-buttons>.one-button{
    width: 90%;
    display: flex;
    justify-content: center;
    height:2em
}
footer{
    height: fit-content;
    line-height: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    font-size: larger;
    width: 100%;
    color:white;
    background-color: rgb(13,69,8);
}
#footer-hrefs{
    font-size: xx-large;
}
#footer-hrefs,#footer-rules,#footer-socials{
    display: flex;
    justify-content: space-evenly;
}
#footer-rules{
    font-size: small;
}

@media screen and (max-width:1200px){
    a>#order-online{
        font-size: 0.7em;
        height: 80%;
    }
    a>#order-online:hover{
        font-size:0.8em
    }
    .one-button{
        margin-right: 10em;
    }
}
@media screen and (max-width:900px)
{
    header>a{
        font-size:0.9em
    }
}
@media screen and (max-width:768px){
    nav>a{
        font-size: 1em;
    }
    header{
        font-size: 1.2em;
    }
    #i-love-it{
        display: none;
    }
    a>#order-online{
        width: 25vw;
        float: left;
    }
}
@media screen and (max-width:705px){
    nav>a{
        font-size: 0.8em;
    }
    #milk-teas >.one-drink>img{
        height:25em;
    }
}
@media screen and (max-width: 420px) {
    nav {
        display: none;
    }
    #ice-bubble,#milk-cocktails,#milk-teas {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 0;
    }
    .one-drink>h2 {
        width: 15em;
        text-align:justify;
    }
    #milk-teas >.one-drink>img{
        height:16em;
    }
    #milk-teas{
        margin-inline: 0;
    }
    #milk-teas>.one-drink{
        margin-inline: 0;
    }
    #milk-teas>.one-drink>h2{
        margin-inline: 0;
        text-align: center;
    }
    .tea-buttons{
        flex-direction: row;
        margin-top: 2em;
        width: 100vw;
    }
    .tea-buttons>.one-button{
        margin-right: 1em;
        height: 7em;
        font-size: 0.9em;
    }
    #other-buttons>.tea-buttons>.one-button {
        width: 60%;
    }
    #footer-hrefs {
        font-size: larger;
    }
}


